@charset "utf-8";

*{
	margin:0;
	padding:0;
}
.filemanager {
	width: 95%;
	max-width:1340px;
	position: relative;
	margin: 10px auto 50px;
}

@media all and (max-width: 965px) {
	.filemanager {
		margin: 30px auto 0;
		padding: 1px;
	}
}

.filemanager .breadcrumbs {
	margin-left:20px;
	font-size: 15px;
	font-weight: 700;
	line-height: 35px;
}

.filemanager .breadcrumbs a:link, .breadcrumbs a:visited {
	color:#FF776B;
	text-decoration: none;
}

.filemanager .breadcrumbs a:hover {
	text-decoration: underline;
}

.filemanager .breadcrumbs .arrow {
	color:  #6a6a72;
	font-size: 22px;
	font-weight: 700;
	line-height: 20px;
}


.filemanager .search {
	/*position: absolute;
	padding-right: 30px;
	cursor: pointer;
	right: 0;
	font-size: 17px;
	color: #ffffff;
	display: block;
	width: 40px;
	height: 40px;
}

.filemanager .search:before {
/*	content: '';
	position: absolute;
	margin-top:12px;
	width: 10px;
	height: 11px;
	border-radius: 50%;
	border: 2px solid #373743;
	right: 8px;*/
}

.filemanager .search:after {
/*	content: '';
	width: 3px;
	height: 10px;
	background-color: #373743;
	border-radius: 2px;
	position: absolute;
	top: 23px;
	right: 6px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);*/
}

.filemanager .search input[type=search] {
	/*color: #4D535E;
	background-color: #FFF;
	width: 250px;
	height: 40px;
	margin-left: -215px;
	padding-left: 20px;
	text-decoration-color: #4d535e;
    border: 2px solid #373743;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding-right: 10px;
    border-radius: 5px;*/
}

::-webkit-input-placeholder {
	color:    #4d535e;
}
:-moz-placeholder {
	color:    #4d535e;
	opacity:  1;
}
::-moz-placeholder {
	color:    #4d535e;
	opacity:  1;
}
:-ms-input-placeholder {
	color:    #4d535e;
}



.filemanager .data {
	margin-top: 60px;
	z-index: -3;
}

.filemanager .data.animated {
	-webkit-animation: contentAnimate 700ms;
	animation: contentAnimate 700ms;
}

.filemanager .data li {
	border-radius: 4px;
	background-color:#EFEFEF;
	width: 307px;
	height: 118px;
	list-style-type: none;
	margin: 10px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 0.3em;
	z-index: 1;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.3s background-color;
}

.filemanager .data li:hover {
	background-color: #E9E9E9;
}

.filemanager .data li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.filemanager .data li .name {
	color: #777777;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	width: 150px;
	white-space: nowrap;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 40px;
}

.filemanager .data li .details {
	color:#96A4AC;
	font-size: 13px;
	font-weight: 400;
	width: 55px;
	height: 10px;
	top: 64px;
	white-space: nowrap;
	position: absolute;
	display: inline-block;
}

.filemanager .nothingfound {
    border-top: 5px solid #ABDB6C;
    border-bottom: 6px solid #ABDB6C;
	background-color: #373743;
    border-radius: 6px;
	margin: 0 auto;
	display: none;
	-webkit-animation: contentAnimate 700ms;
	animation: contentAnimate 700ms;
}

.filemanager .nothingfound .nofiles {
    margin: 25px auto;
    top: 1em;
    position:relative;
    width: 11em;
    height: 5em;
    line-height: 11.4em;
}

.filemanager .nothingfound span {
	margin: 0 auto .7em 1.7em;
    text-align: center;
	color:#F7F7F7;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	height: 13px;
	position: relative;
	top: -5em;
}


.filemanager .nothingfound a {

    margin:auto auto 25px 15%;
}



@media all and (max-width:965px) {

	.filemanager .data li {
		width: 100%;
		margin: 5px 0;
	}

}

@-webkit-keyframes contentAnimate {
	100%   	{ transform:skewY(0deg); opacity: 1; }
	0% 		{ transform: skewY(10deg); opacity: 0.1; }
}

@keyframes contentAnimate {
    100%   	{ transform:skewY(0deg); opacity: 1; }
    0% 		{ transform: skewY(10deg); opacity: 0.1; }
}



.icon {
	font-size: 23px;
}
.icon.folder {
	display: inline-block;
	margin: 1em;
	background-color: transparent;
	overflow: hidden;
}
.icon.folder:before {
	content: '';
	float: left;
	background-color:#FF776B;

	width: 1.5em;
	height: 0.45em;

	margin-left: 0.07em;
	margin-bottom: -0.07em;

	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;

	box-shadow: 1.25em 0.25em 0 0em #FF575C;
}
.icon.folder:after {
	content: '';
	float: left;
	clear: left;

	background-color:#FEBB6C;
	width: 3em;
	height: 2.25em;

	border-radius: 0.1em;
}
.icon.folder.full:before {
	height: 0.55em;
}
.icon.folder.full:after {
	height: 2.15em;
	box-shadow: 0 -0.12em 0 0 #ffffff;
}

.recycle_bin_holder{
    background-color: white;
    border-top: 2px solid #FF776B;
    border-bottom: 2px solid #FF776B;
}
.recycle_bin{
    margin: 12px;
    font-size: 99px;
    color:#FF776B;
}
.recycle_bin_bc{
  background-color: #FFFF00;

}

.deleted-file{border: 2px solid #F3442B;}
.deleted-folder{border: 2px solid #F3442B;}



.icon.file {
	width: 2.5em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-radius: 0.25em;
	color: #FFF;
	display: inline-block;
	margin: 0.9em 1.2em 0.8em 1.3em;
	position: relative;
	overflow: hidden;
	box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}
.icon.file:first-line {
	font-size: 13px;
	font-weight: 700;
}
.icon.file:after {
	content: '';
	position: absolute;
	z-index: -1;
	border-width: 0;
	border-bottom: 2.6em solid #DADDE1;
	border-right: 2.22em solid rgba(0, 0, 0, 0);
	top: -34.5px;
	right: -4px;
}

.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
	box-shadow: 1.74em -2.1em 0 0 #ABDA68 inset;
}
.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
	border-bottom-color: #94C94A;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma{
	box-shadow: 1.74em -2.1em 0 0 #1EC3FF inset;
}
.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after{
	border-bottom-color: #3BAFDA;
}

icon.file.f-xls,
.icon.file.f-xlsx {
    box-shadow: 1.74em -2.1em 0 0 #5BAB6E inset;
}
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
    border-bottom-color: #88B589;
}


.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd{
	box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
	border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-png {
	box-shadow: 1.74em -2.1em 0 0 #FF005D inset;
}
.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-png:after {
	border-bottom-color: #DD1A61;
}


.icon.file.f-pptx,
.icon.file.f-pdf,
.icon.file.f-ppt {
    box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}
.icon.file.f-pptx:after,
.icon.file.f-pdf:after,
.icon.file.f-ppt:after {
    border-bottom-color: #c6393f;
}



.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
	box-shadow: 1.74em -2.1em 0 0 #A57B4B inset;
}
.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
	border-bottom-color: #B4844D;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
	box-shadow: 1.74em -2.1em 0 0 #4D627F inset;
}
.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
	border-bottom-color: #314559;
}


.icon.file.f-js {
    box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.icon.file.f-js:after {
    border-bottom-color: #a69f4e;
}


.icon.file.f-exe {
	box-shadow: 1.74em -2.1em 0 0 #F37B53 inset;
}
.icon.file.f-exe:after {
	border-bottom-color: #F37B53;
}


.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
	box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
	border-bottom-color: #30837c;
}


