body h4{
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 12px;
    color: #58656E;
    font-family: 'palatino linotype',verdana, serif,sans-serif;
}
h2{
    margin:0 0 0 90px;
    color: #58656E;
}
#admit{
    background-color: #f0fff0;
    border-radius: 4px;
    margin-left: 90px;
    padding-bottom: 12px;
    width: 1150px;

}

#p_details{
    background-color: #E6E8E9;
    border-radius: 4px;
    margin-left: 90px;
    padding-bottom: 12px;
    width: 1150px;

}

#c_details{
    background-color: #E6E8E9;
    border-radius: 4px;
    margin-left: 90px;
    padding-bottom: 12px;
    width: 1150px;

}

#upload{
    background-color: #edf1d1;
    border-radius: 4px;
    margin-left: 90px;
    padding-bottom: 12px;
    width: 1150px;
}

table{
    margin-left: 10px;
}

table tr,td{
    display: inline-table;
    padding: 4px 8px 4px 0;
}

.select{
    border-radius: 3px;
    height: 30px;
}
.input{
    border-radius: 3px;
    height: 30px;
    padding: 2px;
}

.input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

#tabledisplay{
    background-color: #f0fff0;
    margin: 20px 0 0 87px;
    border-top: 1px solid #eee;
    width: 800px;
    border-radius: 4px;
}

.ngreenneotitle {
    border-radius:4px;
    margin-left: 5px;
    margin-bottom: 1px;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    vertical-align: middle;
    cursor: pointer;
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.butn {
    display: inline-block;
    zoom: 1;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 13px/100% Arial, Helvetica, sans-serif;
    padding: .5em 1em;
    margin-left: 90px;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.butn-turquoise {
    color: white;
    text-shadow: 0 1px 1px rgba(204, 204, 204, 0.3);
    border: solid 1px #17a689;
    background: #1abc9c;
    background: -webkit-gradient(linear, left top, left bottom, from(#1dd2af), to(#17a689));
    background: -moz-linear-gradient(top, #1dd2af, #17a689);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e'); }
.butn-turquoise:hover,.butn-turquoise:focus,.butn-turquoise:active {
    background-color: #17a689;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17a689), color-stop(100%, #148f77));
    background-image: -webkit-linear-gradient(top, #18af91, #17a689);
    background-image: -moz-linear-gradient(top, #17a689, #117964);
    background-image: -ms-linear-gradient(top, #17a689, #117964);
    background-image: -o-linear-gradient(top, #17a689, #117964);
    background-image: linear-gradient(top, #17a689, #117964);
    border-top: 1px solid #007858;
    border-left: 1px solid #006747;
    border-bottom: 1px solid #005636;
    border-right: 1px solid #006747; }
