body{
	margin: 0px;
}

#main_container{
	margin: auto;
    width: 1065px;
	font-size:15px;
}

#main_container #left{
    width:200px;
    height: 320px;
    float: left;
    margin-right:15px;
}

#main_container #right{
    width: 78%;
    padding-left: auto;
    padding-right: 3px;
    margin-left: auto;
    margin-right:3px;
}

.drag{
	cursor: move;
	margin: auto;
	z-index: 10;
	color: #222;
	text-align: center;
	font-size: 10pt;
	opacity: 0.97;
	filter: alpha(opacity=97);
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	-moz-border-radius: 3px;
    padding:3px;
}


div#drag table {
	background-color: #eee;
	border-collapse: collapse;
}

		div#drag #table2 {

			margin-left: auto;
		}


div#drag td{
	border-style: solid;
	border-width: 1px;
	border-color: white;
	height: 32px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}
		div#drag #table1 td{
			border-width: 0px 0px 1px 0px;
		}

			div#drag #table1 div {
				margin-left: 5px;
				float: left;
			}

			div#drag #table1 input {
				float: right;
				width: 15px;
				height: 23px;
				margin-right: 5px;
				border-width: 1px;
				border-radius: 3px;
				visibility: hidden;
			}



.ar {
	background-color: #AAC8E2;
}
.bi {
	background-color: #E7D783;
}
.ch {
	background-color: #E99AE6;
}
.en {
	background-color: #C4AFFF;
}
.et {
	background-color: #91DEC5;
}
.hi {
	background-color: #CFE17F;
}
.it {
	background-color: #E7BD83;
}
.ma {
	background-color: #FFC5C2;
}
.ph {
	background-color: #A5F09D;
}


.kssl_ {
	background-color:#356934;
	color:#f4f4f4;
}

.kssl_1 {
    background-color:#37BC9B;
    color:#f4f4f4;
}
.kssl_2 {
    background-color:#3BAFDA ;
    color:#f4f4f4;
}

.kssl_3 {
    background-color: #9367C8;
    color:#f4f4f4;
}

.kssl_4 {
    background-color:#FF7C35 ;
    color:#f4f4f4;
}

.kssl_5 {
    background-color: #005683;
    color:#f4f4f4;
}

.kssl_6 {
    background-color:#743535 ;
    color:#f4f4f4;
}

.kssl_7 {
    background-color:#DA4453 ;
    color:#f4f4f4;
}

.kssl_8 {
    background-color:#FCBB42 ;
    color:#f4f4f4;
}

.kssl_9 {
    background-color:#743535 ;
    color:#f4f4f4;
}

.kssl_10 {
    background-color:#8B601C ;
    color:#f4f4f4;
}

.kssl_11 {
    background-color:#6F6F6F ;
    color:#f4f4f4;
}

.kssl_12 {
    background-color:#FE6599 ;
    color:#f4f4f4;
}
.kssl_13 {
    background-color:#7FB237 ;
    color:#f4f4f4;
}


.subject_holder{

    padding: 7px;
    border-radius: 3px;
    font-weight: bold;

}


.subject{

    padding: 7px;

}

.blank {
	background-color: white;
}


.break{
	color:#EEEEEE;
	background-color:#727272;
    font-weight: bold;
}

.break_time{
    color:#EEEEEE;
    background-color:#727272;
    font-weight: bold;
}

.trash {
	color: white;
	background-color:#322D2D;
    font-weight: bold;
}

#message{
	color: white;
	background-color: #aaa;
	text-align: center;
	margin-top: 10px;
}

.bla{background:white;}
.dark{
	color: #444;
	background-color:#CBCFD8;
}
.light{
    color: #444;
    background-color:#424651;
}

.dark2{
    color:#fff;
    background-color: #356934;
    font-weight: bold;
}

.dark3{
    color:#ffff00;
    background-color:#5B554A;
    font-weight: bold;
}

.button_container{
	padding-top: 1px;
	text-align: right;
    margin-bottom: 17px;
    margin-top:-14px;
}
